body {
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial;
    height: 100%;
    width: 100%;
    display: table;
}

/* ------------------Global Start ------------------*/

.container {
    width: 80%;
    margin: auto;

}

ul {

    list-style: none;
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    
}

header {
    background: #3a3a3a;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: 3px solid #ac0606;

}

.button {

    padding: 10px;
    width: 120px;
    background: #ac0606;
    color: white;
    border: none;

}

.dark {
    padding: 20px;
    background: #3a3a3a;
    color: white;
    margin-top: 10px;
    border-left: 3px solid #ac0606;

}

.grey {
    padding: 20px;
    background: #d1d1d1;
   

    margin-top: 10px;
}

.grey:hover{
    background: #3a3a3a;
    color: white;
     border-left: 5px solid #ac0606;
}

.input-text {
    width: 90%;
    height: 30px;
}

/* ------------------Global END ------------------*/

/* ----------------------------Defined START----------------------*/

.highlight,
.current a {
    color: #ac0606;
    font-weight: bold;
}

header h1 {
    margin: 0;
}

#branding {
    color: white;
}

nav li {
    display: inline;
    padding: 0 20px 0 20px;

}

nav a:hover {
    color: #ac0606;
    border-left: 1px solid #ac0606;
    padding: 5px;
   

}


header #branding {
    float: left;

}

header nav {
    float: right;
    margin-top: 10px;
}

/* ----------------------------Defined END----------------------*/

/* ----------------Don't Change START--------------*/

#newletter {
    background: #3a3a3a;
    color: white;
    padding: 20px;
}


#newletter input[type="text"] {
    width: 250px;

}

#newletter select {
    width: 150px;
}

/* ----------------Don't Change END--------------*/

/* ---------------------HOMEPAGE START-------------*/

#showcase {
    background: url('/img/girl-w-logos-630.jpg') no-repeat 0 -5px;
    min-height: 600px;
    background-size: cover;
    text-align: center;
    padding: 10px;
    color: white;

}

#showcase h1 {
    font-size: 50px;
    margin-top: 100px;
}

#boxes .container {
    margin-top: 20px;

    text-align: center;
}

#boxes .box {
    flex: 1;
}

#boxes img {
    width: 90px;

}

/* ----------------------HOMEPAGE END----------------------*/

/*------------------Services START --------------------*/

#services .container {
    display: flex;
}

#services .sec-1 {
    flex: 3;
   
}

#services .sec-2 {
    flex: 1;
    margin-left: 10px;
}

/*------------------Services END --------------------*/

/*------------------ABOUT START --------------------*/

#about .container {
    display: flex;
}

#about .sec-1 {
    flex: 3;
    margin-right: 10px;
}

#about .sec-2 {
    flex: 1;
}

/*------------------ABOUT END --------------------*/

/* Donating*/
.donating{
    display: flex;
    
    
}

.left{
    background:#cecece;
    padding: 40px;
}
.right{
    padding: 40px;
}

.wrapper{
    padding: 10px;
    height: auto;
}
footer {
    background-color: #ac0606;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    display: table-row;
    height: 1px;
    color: white;
}

@media (min-width:900px) {
    #boxes .container {
        display: flex;
    }

    #newletter .form-hrz {
        display: flex;
        justify-content: center;

    }
}

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        min-height: 35px;     
    }
#about .container {
    display: table;
}
    
    
#about .sec-1 { 
    margin-right: 0;
}
    
    
#services .container {
    display: block;
}
    
#services .sec-2 {
    margin-left: 0;
}
    
    

}